
.post {
  border-radius: 5px;
  border-width: 1px 1px 1px 2px;
  border-color: transparent transparent transparent #0099ff;
  border-style: solid;
  padding: 10px;
  background: white;
  display: block;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 0;
}

.selected {
  margin-left: 5px;
  margin-right: 0;
  background-color: #f7f7f7;
}

.read {
  border-color: transparent transparent transparent gray;
}