
.post {
  position: relative;
  border-radius: 5px;
  border-width: 1px 1px 1px 2px;
  border-color: transparent transparent transparent #0099ff;
  border-style: solid;
  padding: 10px;
  background: white;
  display: block;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 0;
  min-height: 100px;
}

.selected {
  margin-left: 5px;
  margin-right: 0;
  background-color: #f7f7f7;
}

.read {
  border-color: transparent transparent transparent #d6d6d6;
}

.dismissButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  bottom: 5px;
  border: 0;
  padding: 2px;
  border-radius: 5px;
  fill: gray;
  outline: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.dismissButton svg {
  width: 20px;
  height: 20px;
}