
.container {
  max-width: 1000px;
  min-height: 100%;
  margin: 0 auto;
}

.posts {
  display: flex;
  min-height: 100%;
}

.list {
  flex: 0 0 300px;
  height: 400px;
  padding: 10px;
}

.detail {
  flex: 1 1 auto;
  height: 400px;
  padding: 10px;
}